:root {
  /* general background colors */
  --primary-bg: #1e1f26; /* deep charcoal */
  --nav-bg: #2c2e3a; /* slightly lighter charcoal */
  --nav-hover-bg: #9baaff; /* slightly lighter charcoal */
  --item-bg: #424b69; /* dark slate-blue for item cards */

  /* filter-specific colors */
  --filter-label-bg: #3a506b; /* muted steel blue */
  --genre-selected-bg: #1b9aaa; /* bright cyan-teal */

  /* text colors */
  --primary-text: #ffffff; /* pure white */
  --secondary-text: #e0e0e0; /* light gray */
  --tertiary-text: #a0a0a0; /* medium gray */

  /* button colors */
  --store-button-bg: #424b69; /* coral red */
  --store-button-hover-bg: #9baaff; /* coral red */
  --store-button-text: #b8bffa; /* matches primary-bg for contrast */
  --remove-btn-bg: #cf0f47; /* crimson red */
  --add-to-cart-btn-bg: #3fc1c9; /* fresh turquoise */

  /* width control */
  --max-app-width: 1280px;
  --min-app-width: 400px;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  min-width: var(--min-app-width);
  min-height: 100vh;
}

/* toast stuff */

.Toastify__toast {
  background-color: var(--primary-bg);
  color: var(--store-button-text);
  font-size: 1rem;
  border: 1px solid var(--item-bg);
  border-radius: 8px;
}

/* global overrides */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

input[type="search"] {
  padding: 0 5px;
  background-color: var(--primary-bg);
}

input::placeholder {
  color: #999;
  font-style: italic;
  opacity: 1;
  transition: color 0.2s ease;
}

input:focus::placeholder {
  color: #ccc;
}
